html, body {
  background-color: black !important;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #00ff00;
  font-family: 'Press Start 2P', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  font-size: .6em;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

li{
  text-align: right;
}
nav{
margin: 5px;
}

a{
  font-size:.8em;
}

#root{
  width:fit-content;
}
